* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #1a0c3f;
    color: white;
}

.main-container, .right-pad, .left-pad {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.mainTitle {
    font-family: 'Titan One', cursive;
    font-size: 3em;
    padding-bottom: 0.8em;
}

.calculator-container {
    color: #747a7a;
    padding: 30px;
    border-radius: 20px;
    background-color: #231f38;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#result{
    color: white;
    background-color: #231f38;
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 48px;
    text-align: center;
    border: none;
}

.pad {
    display: flex;
    flex-flow: row wrap;
}

.operators, .options {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: rgb(240, 158, 6);
}

.options {
    grid-template-columns: auto auto auto;
    margin-bottom: 15px;
}

.operators {
    margin-left: 15px;
}

.btn-number[value="="]{
    background-color: rgb(218, 145, 10);
    color: #4e5252;
}

.btn-number[value="0"]{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
}

.numbers {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.btn-number{
    width: 70px;
    background-color: #211e31;
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 5px;
    font-size: 1.6rem;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    
}

@media screen and (min-width : 600px) {
    .mainTitle {
        font-size: 5em;
        padding-bottom: 0.2em;
    }
    .btn-number {
        width: 110px;
        font-size: 2rem;
        line-height: 100px;
    }
}

@media screen and (min-width : 800px) {
    .mainTitle {
        font-size: 8em;
    }
    .btn-number {
        width: 80px;
        font-size: 1.6rem;
        line-height: 70px;
    }
}